In [1]:
import pandas as pd

In [7]:
%%time
book_id_frame=pd.read_csv("../book_recommender/data/book_id_map.csv")

CPU times: user 233 ms, sys: 30.5 ms, total: 263 ms
Wall time: 265 ms

In [3]:
book_id_frame

         book_id_csv   book_id
0                  0  34684622
1                  1  34536488
2                  2  34017076
3                  3     71730
4                  4  30422361
...              ...       ...
2360645      2360645  19517100
2360646      2360646  18597299
2360647      2360647  18584882
2360648      2360648  18518801
2360649      2360649  18518607

[2360650 rows x 2 columns]

In [4]:
%%time
book_interactions_frame=pd.read_csv("../book_recommender/data/goodreads_interactions.csv")

CPU times: user 32.6 s, sys: 9.52 s, total: 42.1 s
Wall time: 48.3 s

In [12]:
book_interactions_frame["user_id"].unique().shape

(876145,)

In [ ]:
while True:
        line = f.readline()
        if not line:
            break
        user_id, csv_id, _, rating, _ = line.split(",")
        
        if user_id in overlap_users:
            continue

        try:
            rating = int(rating)
        except ValueError:
            continue
        
        book_id = csv_book_mapping[csv_id]
        
        if book_id in liked_books and rating >= 4:
                overlap_users.add(user_id)

In [ ]:
if user_id in overlap_users:
            continue

        try:
            rating = int(rating)
        except ValueError:
            continue
        
        book_id = csv_book_mapping[csv_id]
        
        if book_id in liked_books and rating >= 4:
                overlap_users.add(user_id)

In [6]:
%%time
book_titles_frame=pd.read_json("../book_recommender/data/books_titles.json")

CPU times: user 3.11 s, sys: 829 ms, total: 3.94 s
Wall time: 4.2 s

In [ ]:
recommendations_lines=[]
with open("../book_recommender/data/goodreads_interactions.csv", 'r') as f:
    while True:
        line = f.readline()
        if not line:
            break
        user_id, csv_id, _, rating, _ = line.split(",")
        
        if user_id in overlap_users:
            book_id = csv_book_mapping[csv_id]
            recommendations_lines.append([user_id, book_id, rating])

In [ ]:
recommendations_lines=[]

In [17]:
overlap_users=set()

In [18]:
for index, row in book_interactions_frame.iterrows():
    if row["user_id"] in overlap_users:
        continue
    try:
        row["rating"] = int(row["rating"])
    except ValueError:
        continue
    book_id = df_book_map["book_id"]
    print(book_id)
    if (book_id in liked_books) and (row["rating"] >= 4):
        overlap_users.add(row["user_id"])

NameError: name 'df_book_map' is not defined